@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Orbitron:wght@600&family=Roboto+Slab&display=swap');

body {
  margin: 0;
  font-family: 'Merriweather', serif;
  font-family: 'Orbitron', sans-serif;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}